/* start font1 */
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: lighter;
  src: url('../webfonts/Nexa-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: normal;
  src: url('../webfonts/nexa-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: bold;
  src: url('../webfonts/Nexa-Bold.otf') format('opentype');
}
body{font-family: "Nexa", sans-serif;}
/* end font1 */
/* start font2 */
@font-face {
  font-family: 'Brilon_1.1';
  font-style: normal;
  src: url('../webfonts/brilon-11-regular.otf') format('opentype');
}
@font-face {
  font-family: 'Brilon_1.1';
  font-style: normal;
  src: url('../webfonts/brilon-11-regular.ttf') format('truetype');
}
.one-service h3{font-family: 'Brilon_1.1';font-size: 36px;font-weight: 400;}
.the-title2 h6{font-family: 'Brilon_1.1';font-size: 32px;font-weight: 400;margin-bottom: 15px}
.about-box h3{font-family: 'Brilon_1.1';font-size: 24px;font-weight: 600;color: #231F1E;margin: 25px 0}
/* end font2 */

.wrapper{width: 100%;overflow-x: hidden;}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-left: 40px;padding-right: 40px
}
.navbar-nav .dropdown-toggle.the-lang::after{display: none}
.the-btn{background-color: #38DACA;border: 0;padding: 10px 25px;font-size: 24px;font-weight: 700}
.navbar .navbar-nav .nav-link{color: #000;font-size: 20px;padding-left: 23px;padding-right: 23px}
.navbar .navbar-nav .nav-link:hover{opacity: .9}
.header{position: relative}
.header img{width: 100%}
.header-title{position: absolute;width: 100%;top: 0;right: 0}
.header h3{
    margin:13% auto auto;font-size: 64px;line-height: 64px;
    font-weight: 900;color: #fff;text-align: center;text-transform: uppercase
}
.services{margin-top: 50px;}
.the-title{margin-bottom: 25px}
.the-title h6{color:#238E83;font-size: 16px;font-weight: 700}
.the-title h5{font-size: 32px;font-weight: 400;text-transform: capitalize}
.one-service{text-align: center;margin-bottom: 25px}
.one-service h3{margin: 15px auto 20px}
.the-btn2{border: 1px solid #535353;padding: 10px;text-decoration: none;color: #535353;}
.the-btn2:hover{color: #535353;}
.the-services > div:nth-child(even){padding-top: 60px}
.service-img{width: 100%}
.products{margin-top: 50px}
.product-img{width: 100%;margin-bottom: 10px}
.one-product h4 a{font-size: 20px;font-weight: 400;text-decoration: none;color: #000}
.one-product h4 a:hover{color:#238E83}
.one-product p{color:  #909090;font-size: 14px;margin-bottom: 8px}
.stars-num{font-size: 14px;color: #909090;}
.the-price{font-size: 16px;font-weight: 800;color: #238E83;}
nav.navbar{margin: 20px auto 30px}
.about-us{
    background-image: url(../img/bg.png);background-size: cover;background-repeat: no-repeat;
    padding: 40px 0 50px;color: #fff;margin: 50px 0
}
.about-box {
    text-align: center;
    background-color: #fff;
    padding: 50px 50px 10px;
    min-height: 350px;margin-top: 10px;
    margin-bottom: 10px
}
.about-box p{line-height: 24px;font-size: 16px;color: #303030}
.the-btn3{color: #fff;border-color: #fff;font-size: 20px;padding: 10px 15px}
.the-btn3:hover{color: #fff}
/* start offer hover effect */
.snip1585 {
  background-color: rgb(41, 46, 57);
  color: #fff;
  display: inline-block;
  font-size: 24px;
  /*margin: 10px;
  max-width: 315px;
  min-width: 230px;*/
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(46, 52, 64,  0);
  border-top: 50px solid rgba(46, 52, 64, 0);
  border-bottom: 50px solid rgba(46, 52, 64, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: start;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  padding: 0 5px 20px 20px;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1585 h3 span {
  display: block;
  font-weight: 700;
}

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/***/
.snip1585 figcaption h4{font-size: 26px;color: #fff;text-transform: uppercase;text-align: start}
.snip1585 figcaption p{font-size: 16px;color: #fff;max-width: 390px;text-align: start;line-height: 18px}
.snip1585 figcaption .the-btn2 {
    font-size: 14px;
    color: #fff;
    padding: 12px 17px;
    display: inline-block;
    line-height: 10px;
    border-color: #fff
}
.snip1585.hover figcaption h4{font-size: 32px}
/* end offer hover effect */
.title-section .the-btn2 {
    padding: 10px 30px;
    color: #535353;
    height: 45px;
    margin-top: 10px;
}
.blog{margin: 50px 0}
.snip1585.one-blog h5{font-size: 20px;text-align: start;max-width: 420px;line-height: 30px;margin-bottom: 3px}
.snip1585.one-blog h6{font-size: 10px;display: inline-block;margin-right: 50px}
.snip1585.one-blog span{font-size: 10px}
.snip1585.one-blog figcaption{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.04%, rgba(0, 0, 0, 0.00597151) 55.1%, rgba(1, 1, 1, 0.0234497) 58.44%, rgba(1, 1, 1, 0.0517802) 61.19%, rgba(2, 2, 2, 0.0903085) 63.51%, rgba(4, 4, 4, 0.13838) 65.53%, rgba(5, 5, 5, 0.195341) 67.38%, rgba(7, 7, 7, 0.260536) 69.22%, rgba(9, 9, 9, 0.333311) 71.18%, rgba(11, 11, 11, 0.413011) 73.39%, rgba(13, 13, 13, 0.498982) 76.01%, rgba(15, 15, 15, 0.590571) 79.17%, rgba(18, 18, 18, 0.687121) 83%, rgba(20, 20, 20, 0.787979) 87.66%, rgba(23, 23, 23, 0.89249) 93.28%, #1A1A1A 100%);
    padding-bottom: 5px;
}
.snip1585.one-blog:hover > img, .snip1585.one-blog.hover > img {
    opacity: 1;
}
.faq-img img{max-width: 100%;margin: auto}
.the-title3 h6{font-size: 40px;font-weight: 700}
.the-title3 h5{font-size: 20px}
/* start accordion style */
.accordion-button::after {
  background-image: url("../img/down.svg");
  transition: all 0.5s;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../img/up.svg");
}
.accordion-button::after {
  transition: all 0.5s;
}
/* end accordion style */
.the-title3{margin-bottom: 25px}
.accordion-item{margin-bottom: 25px;border: 1px solid #ebebeb}
.accordion-button:not(.collapsed)::after{transform: initial}
.accordion-button:not(.collapsed),.accordion-button{color: #231F1E;background-color: #fff;box-shadow: none;font-weight: 700}
.accordion-body{font-size: 14px;color: #535353;max-width: 700px;padding-top: 2px}
.accordion-header{border-top: 1px solid #ebebeb}
.accordion-button{padding-top: 22px;padding-bottom: 22px}
.faq-btn{text-align: center;margin-top: 100px}
.faq-btn .the-btn2{padding: 12px 32px}
.footer-logo img{max-width: 100%}
.the-footer{background-color: #38DACA;padding-top: 90px;margin-top: 100px}
.the-footer h6{color: #0A142F;font-size: 18px;font-weight: 900;margin-bottom: 17px}
.footer-list{padding: 0}
.footer-list li{list-style: none;}
.footer-list li a{
    font-size: 14px;font-weight: 400;text-decoration: none;color: #0A142F;
    opacity: .8;line-height: 30px
}
.the-whatsapp span:nth-child(1){opacity: .7}
.the-whatsapp span:nth-child(2){font-weight: 900;opacity: 1;color: #0A142F}
.social-list{padding: 0}
.social-list li{list-style: none;display: inline-block}
.copyrights{
    color: #0A142F;font-size: 14px;opacity: .65;text-align: center;
    border-top: 1px solid rgb(10 20 47 / 20%);padding: 25px 0 60px 0;margin-top: 60px
}
.the-footer a:hover{opacity: .9}
.navbar-toggler-icon{background-image: url(../img/navbar.svg)}
.navbar-toggler:focus{box-shadow: none}
.faq-img2{display: none}
.social1{display: none}
.logo-xl{display: none}
.logo-xl img{height: 55px;margin: 20px auto 10px}
.navbar-nav .dropdown-menu {
    border: 1px solid #eeeeee;
    border-top: 3px solid #38daca;
    border-radius: 0;
    text-align: center;
    padding: 0
}
.navbar-nav .dropdown-menu li:first-of-type .dropdown-item{padding-top: 13px}
.navbar-nav .dropdown-menu li:last-of-type .dropdown-item{padding-bottom: 13px}
/* start responsive */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .header h3 {
        margin: 11% auto auto;
        font-size: 50px;
        line-height: 54px;
    }
    .navbar-collapse {
        position: fixed;
        top: -15px;
        left: -200px;z-index: 999;
        background-color: #fbfbfb;min-height: 100vh;transition: left 300ms;
    }
    .toggle-menu {
        left: 0;border: 1px solid #eee;width: 200px;text-align: center;border-top: 0
    }
    .toggle-menu .the-btn{margin: 5px auto;font-size: 18px}
    .logo-xl{display: block}
    .navbar-toggler-icon-2 {
        background-image: url(../img/close.png);
        background-repeat: no-repeat;
        background-size: 63%;
    }
    .navbar-nav .dropdown-menu{text-align: center;border-top: 1px solid #38daca}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar-collapse{margin-top: 15px}
    .navbar .navbar-nav .nav-link{font-size: 18px;padding-left: 0;padding-right: 0;padding-bottom: 3px}
    .navbar-nav{margin-bottom: 10px}
    .header h3 {
        margin: 10% auto auto;
        font-size: 37px;
        line-height: 44px;
    }
    .offers .the-btn2{display: none}
    .offers .snip1585.hover figcaption h4{font-size: 20px}
    .offers .snip1585.hover figcaption p{font-size: 14px}
    .offers .snip1585.hover figcaption .the-btn2{font-size: 12px;padding: 10px}
    .offers .snip1585 figcaption h4{font-size: 20px}
    .offers .snip1585 figcaption p{font-size: 14px}
    .offers .snip1585 figcaption .the-btn2{font-size: 12px;padding: 10px}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) { 
    .navbar-brand img{height: 55px}
    .navbar-toggler{border: 0}
    .header h3 {
        font-size: 22px;
        line-height: 26px;
    }
    .the-title{text-align: center}
    .the-title h6{font-size: 14px}
    .the-title h5{font-size: 20px}
    .the-services > div:nth-child(even){padding-top: 0}
    .one-service h3{font-size: 20px;}
    .the-btn2{font-size: 14px}
    .one-product{margin-bottom: 20px}
    .one-product h4{font-size: 16px}
    .one-product p{font-size: 12px}
    .one-product .d-flex{display: block !important}
    .the-price{margin-top: 7px}
    .about-us{text-align: center}
    .the-title2 h6{font-size: 20px}
    .about-us p{font-size: 14px}
    .about-box h3{font-size: 16px}
    .about-box{min-height: auto;padding: 40px 20px 20px}
    .offers .snip1585{height: 101px}
    .offers .snip1585.hover{height: auto}
    .offers .snip1585 img{margin-top: -50%}
    .offers .snip1585.hover img{margin-top: 0}
    .offers .snip1585 figcaption{display: none}
    .offers .snip1585.hover figcaption{display: flex}
    .offers .snip1585.hover figcaption h4{font-size: 14px}
    .offers .snip1585.hover figcaption p{font-size: 12px}
    .faq-img{display: none}
    .faq-img2{display: block}
    .faq .the-title3{text-align: center}
    .faq-img2{max-width: 80%;margin: 20px auto}
    .the-title3 h6{font-size: 20px}
    .the-title3 h5{font-size: 14px}
    .accordion-button::after{display: none}
    .accordion-button{font-size: 14px;padding-bottom: 10px}
    .accordion-item{margin-bottom: 20px}
    .faq-btn{margin-top: 40px}
    .social1{display: block;margin-bottom: 15px}
    .social2{display: none}
    .social-list li{margin-right: 0.5rem!important}
    .the-footer{padding-top: 60px}
    .copyrights{padding-bottom: 25px;margin-top: 40px}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding-left: 10px;padding-right: 10px
    }
    .header h3 {
        font-size: 20px;
        line-height: 20px;
    }
}

@media only screen and (max-width : 380px) {
    .header h3{font-size: 19px}
    .one-service h3{font-size: 17px}
    .the-btn2{font-size: 12px;padding: 8px}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .header h3{font-size: 18px}
}

@media only screen and (max-width : 250px){
}
/* end responsive */