/* start font */
@font-face {
  font-family: 'Dubai';
  font-style: normal;
  font-weight: 300;
  src: url('../webfonts/Dubai-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Dubai';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/Dubai-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Dubai';
  font-style: normal;
  font-weight: 500;
  src: url('../webfonts/Dubai-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Dubai';
  font-style: normal;
  font-weight: 600;
  src: url('../webfonts/Dubai-Bold.ttf') format('truetype');
}
body{font-family: "Dubai", sans-serif;}
.one-service h3{font-family: "Dubai", sans-serif;}
.the-title2 h6{font-family: "Dubai", sans-serif;}
.about-box h3{font-family: "Dubai", sans-serif;}
/* end font */
.snip1585 figcaption{padding: 0 20px 20px 5px;}
.social-list li{margin-right: 0!important;margin-left: 0.5rem!important}
.the-btn2 img{transform: rotate(180deg);}
.back-btn img{transform: rotate(180deg);}
.main-inner-header h3{border-left: 0;padding-left: initial;border-right: 4px solid #38DACA;padding-right: 5px}
.profile-edit{right: 25px;left: initial}
.profile-list2 a{margin-left: 40px;margin-right: initial}
.snip1585.one-blog h6{margin-left: 50px;margin-right: initial}
@media only screen and (max-width : 1200px) {
    .navbar-collapse {
        left: initial;right: -200px
    }
    .toggle-menu {
        left: initial;right: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) { 
    .profile-list2 a{margin-left: 20px;margin-right: initial}
    .order-item .payment-total{margin: 0 !important}
}